# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# Build output
dist/
build/

# Editor folders
.vscode/
.idea/
.DS_Store

# System files
Thumbs.db

# Vercel
.vercel/

# Temporary vite/deps folders
.vite/