rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Immagini delle slide
    match /slide-images/{slideId} {
      allow read: if true;
      allow write: if true;
    }
    // Immagini degli item carosello
    match /carousel-images/{elementId}/{itemId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
